$font-color: #333;
$link-underline-color: #ccc;
$link-hover-color: #b54646;

body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: $font-color;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline-block;
}

html {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

a:hover {
  color: $link-hover-color;
  border-bottom-color: $link-hover-color;
}

a {
  transition: color 0.15s linear;
  color: $font-color;
  border-bottom: 1px solid $link-underline-color;
  text-decoration: none;
}

body.pomodoro {
  $nav-height: 122px;

  text-align: center;
  margin-top: -$nav-height;

  .nav {
    box-sizing: border-box;
    height: $nav-height;
  }

  .title {
    background: url(logo-small.png) 83% 50% no-repeat;
    padding-top: 5px;
    font-size: 1.2em;
    margin-left: -20px;

    span {
      color: $link-hover-color;
    }
  }

  .share-links {
    font-size: 0.9em;
  }

  .share {
    margin: 0 0.2em;
  }

  .timer {
    font-size: 5em;
    font-family: 'Roboto';
    font-weight: 500;
    margin: 0.4em 0;
  }
}
