$font-color: #222;
$link-underline-color: #ccc;
$link-hover-color: #b54646;
$thin-border: 1px solid #ddd;
$fast-transition: 0.15s ease-out;

@mixin align-vertical {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

html {
  height: 100%;
}

body {
  font-size: 16px;
  font-family: 'Merriweather', serif;
  color: $font-color;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline-block;
}

a:hover {
  color: $link-hover-color;
  border-bottom-color: $link-hover-color;
}

a {
  transition: color 0.15s linear;
  color: $font-color;
  border-bottom: 1px solid $link-underline-color;
  text-decoration: none;
}

.hidden {
  display: none;
}

.github-ribbon {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  display: none;
  transition: $fast-transition;
  transition-property: opacity;

  body.invisible & {
    opacity: 0;
  }
}

.pomodoro {
  transition: $fast-transition; 
  transition-property: opacity, transform;
  text-align: center;
  margin: 0 auto;
  padding: 3em 0;
  width: 100%;

  header {
    margin-bottom: 3em;
    padding-top: 1.5em;
    overflow: auto;
  }

  .description {
    margin-top: 3em;
    margin-bottom: 0;
    padding: 0 2em;
  }

  .title {
    font-size: 1.2em;
    width: 320px;
    margin: 0 auto;
    position: relative;

    span {
      color: $link-hover-color;
    }
  }

  .share-links {
    font-size: 0.8em;
  }

  .share {
    margin: 0 0.2em;
  }

  .timer {
    font-size: 5em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 0.2em 0;
    min-height: 1.18em;
    line-height: normal;
  }

  .timer-wrapper {
    width: 100%;
    padding: 1em 0;
    background-color: #fefefe;
    border-top: $thin-border;
    border-bottom: $thin-border;
    line-height: 0;
  }

  body.invisible & {
    opacity: 0;
    transform: translateY(5%);
  }
}

body.fullscreen {
  .github-ribbon {
    display: none;
  }

  .pomodoro {
    @include align-vertical;
    padding: 0;

    header,
    .description {
      display: none;
    }
  }
}

@media only screen and (min-device-width: 480px){
  body {
    @include align-vertical;
  }

  .github-ribbon {
    display: block;
  }

  .pomodoro {
    padding: 0;
    width: 24em;

    .timer-wrapper {
      display: inline-block;
      width: auto;
      padding: 1em;
      border-radius: 4px;
      border-left: $thin-border;
      border-right: $thin-border;
      margin: 0 auto;
    }

    .description {
      padding: 0;
    }
  }
}
