$font-color: #222;
$link-underline-color: #ccc;
$link-hover-color: #b54646;
$thin-border: 1px solid #ddd;
$fast-transition: 0.15s ease-out;

@mixin align-vertical {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

@mixin invisible {
  opacity: 0;
  visibility: hidden;
}

html {
  height: 100%;
}

body {
  font-size: 16px;
  font-family: 'Merriweather', serif;
  color: $font-color;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline-block;
}

a:hover {
  color: $link-hover-color;
  border-bottom-color: $link-hover-color;
}

a {
  transition: color 0.15s linear;
  color: $font-color;
  border-bottom: 1px solid $link-underline-color;
  text-decoration: none;

  &.image-link {
    border-bottom: none;
  }
}

p:first-of-type {
  margin-top: 0;
  padding-top: 0;
}

.hidden {
  display: none;
}

.invisible {
  @include invisible;
}

.github-ribbon {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  display: none;
  transition: $fast-transition;
  transition-property: opacity;

  body.invisible & {
    opacity: 0;
  }
}

.pomodoro {
  transition: $fast-transition; 
  transition-property: opacity, transform;
  text-align: center;
  margin: 0 auto;
  padding: 2em 0;
  width: 100%;

  header {
    margin-bottom: 3em;
    padding-top: 1.5em;
    overflow: auto;
  }

  .about-area {
    margin-top: 3em;
    padding: 0 1em;
    transition: 0.25s ease-out;
    transition-property: opacity, visibility;

    body.about-invisible & {
      @include invisible;
    }
  }

  .description {
    font-size: 0.9em;
    margin-top: 3em;
    margin-bottom: 0;
  }

  .title {
    font-size: 1.2em;
    width: 320px;
    margin: 0 auto;
    position: relative;

    span {
      color: $link-hover-color;
    }
  }

  .share-links {
    font-size: 0.8em;
  }

  .share {
    margin: 0 0.2em;
  }

  .timer {
    font-size: 5em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 0.2em 0;
    min-height: 1.18em;
    line-height: normal;
  }

  .timer-wrapper {
    width: 100%;
    padding: 1em 0;
    background-color: #fefefe;
    border-top: $thin-border;
    border-bottom: $thin-border;
    line-height: 0;
  }

  .sponsors {
    margin-top: 3em;
    font-size: 0.8em;
  }

  .browserstack-logo {
    width: 10em;
    margin: 1em 0;
  }

  body.invisible & {
    opacity: 0;
    transform: translateY(5%);
  }
}

body.fullscreen {
  height: 100%;

  .github-ribbon,
  .pomodoro > * {
    display: none;
  }

  .timer-wrapper {
    display: inline-block;
  }

  .pomodoro {
    @include align-vertical;
    padding: 0;
  }
}

body.about-invisible {
  overflow: hidden;
}

@media only screen and (min-width: 480px){
  .github-ribbon {
    display: block;
  }

  .pomodoro {
    width: 24em;

    .timer-wrapper {
      display: inline-block;
      width: auto;
      padding: 1em;
      border-radius: 4px;
      border-left: $thin-border;
      border-right: $thin-border;
      margin: 0 auto;
    }

    .description {
      padding: 0;
    }
  }
}
