$font-color: #222;
$link-underline-color: #ccc;
$link-hover-color: #b54646;
$unsupported-color: #fafafa;
$thin-border: 1px solid #ddd;
$fast-transition: 0.15s ease-out;

@mixin align-vertical {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

html {
  height: 100%;
}

body {
  font-size: 16px;
  font-family: sans-serif;
  color: $font-color;
  height: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
}

a:hover {
  color: $link-hover-color;
  border-bottom-color: $link-hover-color;
}

a {
  transition: color 0.15s linear;
  color: $font-color;
  border-bottom: 1px solid $link-underline-color;
  text-decoration: none;

  &.image-link {
    border-bottom: none;
  }
}

p:first-of-type {
  margin-top: 0;
  padding-top: 0;
}

.hidden {
  display: none;
}

.invisible {
  opacity: 0;
  visibility: hidden;
}

.github-ribbon {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  display: none;
  transition: $fast-transition;
  transition-property: opacity;

  body.invisible & {
    opacity: 0;
  }
}

.pomodoro {
  @include align-vertical;

  padding: 0;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;

  &,
  header {
    transition: $fast-transition;
    transition-property: opacity, transform;
  }

  header {
    margin-bottom: 3em;
    padding-top: 1.5em;
    overflow: auto;
  }

  .before,
  .after {
    flex: 1;
    min-height: 0;
  }

  .entries {
    border: 1px solid transparent;
    box-sizing: border-box;
    font-size: 0.8em;
    padding-top: 2em;

    &:not(.hidden) {
      display: inline-block;
    }

    .entry {
      $height: 3.5em;

      box-sizing: border-box;
      display: block;
      overflow: visible;
      height: $height;
      line-height: $height;

      > * {
        display: inline-block;
        vertical-align: middle;
      }

      &:not(:first-child) {
        border-top: $thin-border;
      }

      &.editing {
        $spacing: 0.75em;

        padding-top: $spacing;
        padding-bottom: $spacing;

        > * {
          display: none;
        }

        .note-entry {
          display: block;
        }
      }
    }

    .close {
      margin-left: 2em;
    }

    .entry-time {
      width: 20%;
    }

    .note,
    .note-entry {
      float: left;
    }

    .note {
      cursor: pointer;
      text-align: left;
    }

    .info-area {
      text-align: right;
      float: right;
    }

    .note,
    .info-area {
      width: 50%;
    }

    .note-entry {
      display: none;
      position: relative;
      width: 100%;
      height: 100%;
    }

    [type=text] {
      width: 50%;
      position: absolute;
      left: 0;
    }

    [type=submit] {
      position: absolute;
      right: 0;
    }

    [type=text],
    [type=submit] {
      top: 0;
      bottom: 0;
    }
  }

  .about-area {
    margin: 3em 0;
    padding: 0 1em;
    transition: 0.25s ease-out;
    transition-property: opacity, visibility;
  }

  .description {
    font-size: 0.9em;
    margin-top: 3em;
    margin-bottom: 0;
  }

  .title {
    font-family: 'Merriweather', serif;
    font-size: 1.2em;
    width: 320px;
    margin: 0 auto;
    position: relative;

    a {
      border-bottom: none;
      transition: none;
      color: inherit;
    }

    span {
      color: $link-hover-color;
    }
  }

  .share-links {
    font-size: 0.8em;
    margin: 0.5em 0;
  }

  .share {
    margin: 0 0.2em;
  }

  .timer {
    font-size: 5em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 0.2em 0;
    min-height: 1.18em;
    line-height: normal;
  }

  .message-wrapper {
    display: none;
  }

  .timer-wrapper {
    width: 100%;
    padding: 1em 0;
    background-color: #fefefe;
    border-top: $thin-border;
    border-bottom: $thin-border;
    line-height: 0;

    &.disabled {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background-color: $unsupported-color;
        opacity: 0.925;
      }

      .message-wrapper {
        // Vertical align hack.
        &::before {
          content: '';
          height: 100%;
        }

        &::before,
        .message {
          display: inline-block;
          vertical-align: middle;
        }

        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        padding: 2em;
        text-align: center;
        line-height: 1.3;
      }
    }
  }

  .use-anyway {
    margin-top: 2em;
  }

  .sponsors {
    margin-top: 3em;
    font-size: 0.8em;
  }

  .browserstack-logo {
    width: 10em;
    margin: 1em 0;
  }

  body.invisible & {
    opacity: 0;
    transform: translateY(5%);
  }
}

body.fullscreen {
  .pomodoro > header,
  .github-ribbon {
    opacity: 0;
    pointer-events: none;
  }

  .about-area {
    display: none;
  }
}

@media only screen and (min-width: 480px){
  .github-ribbon {
    display: block;
  }

  .pomodoro {
    width: 24em;

    .timer-wrapper {
      display: inline-block;
      width: auto;
      padding: 1em;
      border-radius: 4px;
      border-left: $thin-border;
      border-right: $thin-border;
      margin: 0 auto;
    }

    .description {
      padding: 0;
    }
  }
}
